@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root {
  --sl-font: 'Inter', sans-serif;
  --sl-font-mono: 'JetBrains Mono', monospace;
}

body, .sl-markdown-content, header, nav, aside {
  font-family: 'Inter', sans-serif !important;
}

/* Light mode */
:root[data-theme='light'] {
  --sl-color-accent-low: #dbeafe;
  --sl-color-accent: #1d4ed8;
  --sl-color-accent-high: #1e3a8a;
}

/* Dark mode */
:root[data-theme='dark'] {
  --sl-color-accent-low: #1e3a8a;
  --sl-color-accent: #3b82f6;
  --sl-color-accent-high: #93c5fd;
}
